{% extends 'patient/patient_dashboard_base.html' %}

{% block content %}

    <!-- Heading -->
    <div class="text-center mb-4">
        <h1 class="text-success">Patient Medical History</h1>
        <p class="text-muted">A comprehensive record of the patient's medical history, diagnosis, medications, allergies, and treatments.</p>
    </div>

    
    <!-- Prescription Section -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-success">Diagnosis</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Diagnosis</th>
                        <th scope="col">Doctor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prescription in prescriptions %}
                    <tr>
                        <td>{{ prescription.appointment_date }}</td>
                        <td>{{ prescription.diagnosis }}</td>
                        <td>{{ prescription.doctor_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Medications Section -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-success">Medications</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Medication Name</th>
                        <th scope="col">Dosage</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Duration(days)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medication in medications %}
                    <tr>
                        <td>{{ medication.medication }}</td>
                        <td>{{ medication.dosage }}</td>
                        <td>{{ medication.start_date }}</td>
                        <td>{{ medication.duration }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}
