{% extends 'patient/patient_dashboard_base.html' %}

{% block content %}
    <div class="card text-center shadow-sm">
        <div class="card-body">
            <h1 class="card-title text-success">Appointment Booked Successfully!</h1>
            <p class="card-text text-muted">Thank you for booking your appointment with us. We look forward to seeing you.</p>
            <p class="card-text text-muted">Your Appointment ID: <strong>{{ appointment_id }}</strong></p>
            <a href="/patient_home/" class="btn btn-success">Go to Homepage</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}