{% extends 'patient/patient_dashboard_base.html' %}

{% block content %}

    <div class="container my-5">
        <!-- Heading -->
        <div class="text-center mb-4">
            <h1 class="text-success">Available Doctors</h1>
            <p class="text-muted">Choose a doctor to book an appointment</p>
        </div>

        <!-- Doctors List -->
        <div class="row">
            {% if not doctors %}
            <div class="col-md-4 mb-4"></div>
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h3 class="card-title">No doctors available for this speciality</h3>
                    </div>
                </div>
            </div>
            {% endif %}
            {% for doctor in doctors %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h3 class="card-title">{{ doctor.doctor.email }}</h3>
                        <p class="text-muted">Available Times:</p>
                        <ul class="list-unstyled">
                            {% for time_slot in doctor.time_slots %}
                                {% if time_slot.status == 'Available' %}
                                    <li>
                                        <input type="radio" name="time_slot_{{ doctor.doctor.id }}" value="{{ time_slot.start_time }} - {{ time_slot.end_time }}">
                                        {{ time_slot.start_time }} - {{ time_slot.end_time }}
                                    </li>
                                {% else %}
                                    <li>{{ time_slot.start_time }} - {{ time_slot.end_time }} ({{ time_slot.status }})</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <button class="btn btn-success w-100" onclick="bookAppointment('{{ doctor.doctor.id }}')">Take Appointment</button>
                    </div>
                    <script>
                        function bookAppointment(doctorId) {
                            const selectedTimeSlot = document.querySelector(`input[name="time_slot_${doctorId}"]:checked`);
                            if (selectedTimeSlot) {
                                const time = selectedTimeSlot.value;
                                const url = `{% url 'confirm_appointment' %}?time=${time}&doctor_id=${doctorId}`;
                                window.location.href = url;
                            } else {
                                alert('Please select a time slot.');
                            }
                        }
                    </script>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}